h1{
    background-color: rgb(3, 41, 255);
    font-size: 20px;
   margin: 100px;
   padding: 50px;
}
    
        #pinocho{
            background-color: brown;
            font-size: 30px;
            margin: 100px;
            padding: 50px;
        }

        
    