.nav-bar{
text-decoration: none;
padding: 20px;
background-color: rgb(207, 6, 6);
 
}
nav{
    display: flex;
    justify-content: space-around;
    
}

.nav-bar :hover{
    color: blueviolet;
}
@media (max-width:300px) {
    nav{
        background: rgb(13, 99, 228);
        flex-direction: column;
    }
    .nav-bar{
        margin: 10px 0px;

    }
}
